<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^admin/$ ../supply/$1 [L]




RewriteCond %{HTTPS} !on

RewriteCond %{HTTP_HOST} ^applemall\.av\.ke [NC]
#add more subdomains

RewriteRule .? https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]




#removing www from the url to allow for ssl certification
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]

#forcing https
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}


</IfModule>